{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/pepe.png"
      alt="Pepe"
      width="250"
    >
    <div class="container-home">
      <div class="title-home">
        <h1 >Mi nombre es Renato</h1>
      </div>
      <p class="text-home"> 
        Estudiante de la carrera Analisis y programacion de sistemas en el instituto Ciisa.
      </p>
    </div>
  </div>
  {{> backhome}}
</div>