{{> navbar}}

<div class="container">
  <header class="my-5">
    <div class="title-home">
      <h1>Recetario de la abuela</h1>
    </div>
    <div class="text-home">
      <p>
      En esta web podrán compartir las recetas que tengan guardadas de la abuela.
      </p>
    </div>
    <div class="image-home">
      <div class="img1">
        <img src="/img/abuela-home.png" alt="abuela" style="max-width:600px;width=100%">
      </div>
    </div>
    <div class="container-button">
      <div class="button-create">
        <a href="/articles/create" class="text-decoration-none text-dark">Crear Receta</a>
      </div>
      <div class="button-read">
        <a href="/recipes" class="text-decoration-none text-dark">Leer Recetas</a>
      </div>
    </div>
  </header>
  <hr>
</div>
