<nav class="navbar navbar-ligth bg-ligth">
  <div class="container d-flex justify-content-between">
    <a href="/about">
      <button class="btn btn-outline-light btn-sm">
        <i class="fas fa-plus"></i>
        Conóceme
      </button>
    </a>
  </div>
</nav>